<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>arccos</key>
		<dict>
			<key>Definition</key>
			<string>The inverse of the cosine function</string>
		</dict>
		<key>vForce</key>
		<dict>
			<key>Definition</key>
			<string>Apple’s framework for high-performance trigonometric functions</string>
		</dict>
		<key>dot product</key>
		<dict>
			<key>Definition</key>
			<string>A number used for several angle calculations</string>
		</dict>
		<key>vertex</key>
		<dict>
			<key>Definition</key>
			<string>The point where the rays meet to form an angle</string>
		</dict>
		<key>Darwin</key>
		<dict>
			<key>Definition</key>
			<string>One of Apple’s open-source projects, which includes many math functions</string>
		</dict>
		<key>Foundation</key>
		<dict>
			<key>Definition</key>
			<string>A group of essential functionality made by Apple. Most apps will use this.</string>
		</dict>
		<key>parameter</key>
		<dict>
			<key>Definition</key>
			<string>A function’s input(s)</string>
		</dict>
		<key>function</key>
		<dict>
			<key>Definition</key>
			<string>Lines of code grouped together into a reusable container</string>
		</dict>
		<key>return value</key>
		<dict>
			<key>Definition</key>
			<string>Data that the function sends back to the caller</string>
		</dict>
		<key>coordinate plane</key>
		<dict>
			<key>Definition</key>
			<string>The checkerboard in the scene view</string>
		</dict>
		<key>ARKit</key>
		<dict>
			<key>Definition</key>
			<string>Apple’s augmented reality framework, which lets you create AR experiences easily</string>
		</dict>
	</dict>
</dict>
</plist>
